/* styles for '...' */ 
.truncate {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.8em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 5.8em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
  white-space: normal;
}
/* create the ... */
.truncate:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.truncate:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.news.vertical {
    min-height: auto;
    margin-bottom: 10px;
    height: 100%;
    border: none;
}
.row{
  margin: 0 auto;
  width: auto;
}
.center-card{
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}
.container{
  --background: #fff;
}
.card-container{
  max-height: 800px;
  background: #fff;
  padding: 1px;
  box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.card-container h2{
    line-height: 19px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 1.48;
}
.card-container img.responsive-img {
    max-width: 100%;
    max-height: 400px;
    height: auto;
}
.card-container new-content{
  font-size: 15px;
}
.card-container .media-name{
background: antiquewhite;
}
.card-container .media-name>p{

 padding-left: 10px;
    color: orangered;
    
}

.word-wrap{
  overflow-wrap:break-word;
  line-height: initial;
}

time{
  color: darkred;
}

.news-time{
  margin: 0px;
}
.news-box .news-category {
  line-height: 0;
}
@media only screen and (min-width:1025px){
.container {
   --padding: 0 1.5rem;
    --margin: 0 auto;
    --max-width: 1149px;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}


}
.news-title > a {
 
  margin-bottom: 0;
 
}
.new-card{
  margin-left: 10%;
	margin-right: 10%;
}

.header-top{
  --height: 34px;
}
body{
 background:#FFFFFF;
}
.top-story h1{
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}
.show-read-more .more-text{
  display: none;
}
header.header-fix {
    height: 68px;
}
header{
  height: 140px;
}
.logo-title{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-transform: uppercase;
}
.mobile-logo-title{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
  text-transform: uppercase;
}
nav{
  line-height: 30px;
}
.sidbar-box a {
  display: contents;
  font-size: 14px;
  padding: 0;
}
.top-story li {
  padding: 0px;
  height: auto;
}
.headline-meta{
  font-size: 10px;
}
.fb-share-button{
  padding: 20px;
}

.sidebar-title {
  border-bottom: 1px solid #eaeaea;
  color: #3f51b5;
  font-size: 17px;
  font-weight: 500;
  padding: 1px 22px;
  text-transform: uppercase;
  text-align: center;
}
.news-description {
  padding: 0px 12px;
}
.news-box {
  border-bottom: 1px groove #998c8c;
  padding-bottom: 11px;
  padding-top: inherit;
  
}
.news-box:hover {
  background: aliceblue;

}
.news-title > a > h1 {
  font-size: 14px;
  padding: 0;
  line-height: normal;
  margin: 0;
}
iframe{
  width: 100%;
  height: 100%;
}
/*
// in the second loop
  
  if(x<6){
    mylist.add(x,Table.get(i).get(x))
  }else if(x==7){

    if(Table.get(i).get(x)<11){

       mylist.add(x,Table.get(i).get(x))

       emArrayList.add(i,mylist)
    }

  }
  

// after the first loop 
Table = emArrayList
*/

