<!DOCTYPE html>
<html lang="en">
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7632017153147066",
    enable_page_level_ads: true
  });
</script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
 <meta name="google-site-verification" content="FLqSB2HgUocaxLqZObEgrTCHk18mW1K5OQ7CgWoqz8M" />
<meta name="msvalidate.01" content="9BE23A66E8E93A657BC60EE7426E55FB" />
<meta property="og:url" content="http://www.nipashemedia.com/">
<meta property="vk:url" content="http://www.nipashemedia.com/">
<meta property="fb:pages" content="1486705764971089">

  <!-- Jquery -->
    <script src="../public/javascripts/jquery-min.js"></script>

    <!-- DotDot -->
    <script src="../public/javascripts/jquery.dotdotdot.min.js"></script>
    <!-- Materialize CSS  -->
    <link href="../public/stylesheets/materialize.css" type="text/css" rel="stylesheet">
  
    <!-- Custom Css -->
    <link href="../public/stylesheets/style.css" type="text/css" rel="stylesheet">
    <link href="../public/stylesheets/simpleStyle.css" type="text/css" rel="stylesheet">
    
    <!-- Font Awesome Css -->
    <link href="../public/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet">
    
    <!-- Slider Css 
    <link href="../public/stylesheets/pgwslider.css" type="text/css" rel="stylesheet">
    <link rel='../public/stylesheet' id='camera-css'  href='stylesheets/camera.css' type='text/css' media='all'>
  --> 
   <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  

</head>

<body>
<header>
            <!-- Header Top Display In large and Tablet Device
            <div class="header-top hide-on-small-only hidden">
                <div class="container">
                    <div class="row">
                        
                        
                        <div class="col l4 col m5 col s2">
                                <a href="#" class="title">Nipashe Media</a>
                            </div>
                       
                    </div>
                </div>
            </div> -->
            
            <!-- Header top Display On Mobile -->
            <div class="header  ">            
                <div class="top-header">
                    <div class="container">
                        <div class="row">
                            <div class="col l4 col m5 col s2">
                                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                            </div>
                           
                           <div class="col l4 col m5 col s5">
                              <a href="/" class="mobile-logo-title"> Nipashe Media </a>
                            </div>
                        </div>
                    </div>
            </div>
            
            
            </div>
           
            <!-- Navigation
            <nav role="navigation"  class="hide-on-small-only">
            
                <div class="nav-wrapper menu-category">
              
                    <ul>
                                <li> <a href="/" class="logo-title"> Nipashe Media </a></li>

                                <li><a href="/">Top Stories </a></li>
                                <li><a href="/local">Local </a></li>
                                <li><a href="/world">World</a></li>
                                <li><a href="/business">Business</a></li>
                                <li><a href="/technology">Technology</a></li>
                                <li><a href="/sports">Sports</a></li>
                                <li><a href="/science">Science</a></li>
                                <li><a href="/lifestyle">Lifestyle</a></li>
                                <li><a href="/entertainment">Entertainment</a></li>
                             
                    </ul>
                </div>
            </nav> -->
</header>
<!-- 
<ul id="slide-out" class="side-nav full hide-on-med-and-up">
        <li><a href="/">Top Stories </a> </li>
        <li><a href="/local">Local </a></li>
        <li><a href="/world">World</a></li>
        <li><a href="/business">Business</a></li>
        <li><a href="/technology">Technology</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/science">Science</a></li>
        <li><a href="/lifestyle">Lifestyle</a></li>
        <li><a href="/entertainment">Entertainment</a></li>
    
                        
</ul>
    -->

<div  style="height: 477px; top: 192px;">
<iframe src="${data.source}">
</iframe>
       
</div>

  <script src="../public/javascripts/materialize.js"></script>
    <!-- Plugin JS -->
    <script src="../public/javascripts/jquery.timeago.js"></script>
   <script src="../public/javascripts/pgwslider.js"></script>
    <script src="../public/javascripts/jquery.touchSwipe.min.js"></script>
    <script src="../public/javascripts/jquery.liquid-slider.js"></script>
    <script type='text/javascript' src='../public/javascripts/camera.js'></script>
   
    <!-- Custom Js -->
    <script src="../public/javascripts/init.js"></script>

</body>
</html>